{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% load bootstrap3 %}
{% load bootstrap_themes %}

{% block bootstrap3_extra_head %}
  <title>LEP - Konto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block bootstrap3_page_content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-6">
      <h2>Zarządzanie kontem</h2>
      <p>Ta strona pozwala na zmianę ustawień konta.</p>
      <p>Wybierz poniżej swoją frakcję Warmachine&Hordes</p>
      <p></p>
<form action="." method="post">
        {% csrf_token %}
  <!-Ksywa:<br>
  <!-<input type="text" name="username" value={{user.username}}>
  <br>
  Frakcja W&H:<br>
 <select name="faction">
  <option value="Brak">Brak</option>
  <option value="Circle Orboros">Circle Orboros</option>
       <option value="Convergence of Cyriss">Convergence of Cyriss</option>
       <option value="Cygnar">Cygnar</option>
       <option value="Cryx">Cryx</option>
       <option value="Khador">Khador</option>
     <option value="Legion of Everblight">Legion of Everblight</option>
       <option value="Mercenaries">Mercenaries</option>
       <option value="Minions">Minions</option>
       <option value="Protectorate of Menoth">Protectorate of Menoth</option>
            <option value="Retribution of Scyrah">Retribution of Scyrah</option>
            <option value="Skorne">Skorne</option>
            <option value="Trollbloods">Trollbloods</option>
</select>
  <br><br>
  <input type="submit" value="Submit">
</form>
    </div>
    <div class="col-sm-6">
      <h2>Aktualności:</h2>
            {% for news in news_list %}
              <h3>{{news.title}}</h3>
                <p><small><i>{{news.created}}</i></small></p>
              <p>{{news.text}}</p>
                              <hr>
            {% endfor %}
    </div>
  </div>
</div>

{% endblock %}