{% extends "base.html" %}
{% load i18n %}

{% block bootstrap3_page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <a href="{% url 'registration_register' %}" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                {{ form.non_field_errors }}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="." method="post" role="form" style="display: block;">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" autofocus="" maxlength="254" required="" name="username" id="id_username" tabindex="1" class="form-control"
                                           placeholder="Username" value="">
                                    {{ form.username.errors }}
                                </div>
                                <div class="form-group">
                                    <input type="password" autofocus="" maxlength="254" required="" name="password" id="id_password" tabindex="2"
                                           class="form-control" placeholder="Password">
                                    {{ form.password.errors }}
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-login" value="{% trans 'Log in' %}"/>
                                            <input type="hidden" name="next" value="{{ next }}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="{% url 'auth_password_reset' %}" tabindex="5"
                                                   class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center social-buttons">
                                                <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook'%}"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}